*.bsp
*.bpc
*.tls
*.tpc
*.jld2 
*.png
*.gif
*.tf
*.pdf
*.fits
*.pkl

*.jl.cov
*.jl.*.cov
*.jl.mem
/docs/build/
/docs/Manifest.toml
/investigations/rvprec
investigations/sdo_velocity_fields/sdo_dop_eclipse.npz
investigations/sdo_velocity_fields/velocity_field.csv
